
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexTelaInicial</title>
    <link rel="stylesheet" href="~/Content/TelaInicial/Index.css" />
</head>
<body>
    <div> 
        <a class="botao" id="botao-escola" href="/escola/index">Escola</a>
        <a class="botao" id="botao-aluno" href="/aluno/index">Aluno</a>
    </div>
</body>
</html>
