
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
    <link rel="stylesheet" href="~/Content/Aluno/Casatrar.css" />
</head>
<body>
    <a href="/aluno/index">Lista de alunos</a>
    <label id="label-informacao">Cadastrar</label>
    <form action="Insert" method="post">
        <div class="div-campo">
            <label for="campo-nome">Nome</label>
            <input class="campo" type="text" name="nome" id="campo-nome" />
        </div>
        
        <div class="div-campo">
            <label for="campo-cpf">CPF</label>
            <input class="campo" type="text" name="cpf" id="campo-cpf" />
        </div>
        
        <div class="div-campo">
            <label for="campo-nota1">Nota 1</label>
            <input class="campo" type="number" name="nota1" id="campo-nota1" min="0" max="10"/>
        </div>
        <div class="div-campo">
            <label for="campo-nota2">Nota 2</label>
            <input class="campo" type="number" name="nota2" id="campo-nota2" min="0" max="10"/>
        </div>
        
        <div class="div-campo">
            <label for="campo-nota3">Nota 3</label>
            <input class="campo" type="number" name="nota3" id="campo-nota3" min="0" max="10" />
        </div>
        <button class="botao" type="submit">Salvar</button>


    </form>
</body>
</html>
