body {
    background-color: lightsalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    background-color: tan;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2%;
}

    a:hover {
        background-color: tomato;
        
    }

.botao {
    background-color: #cc7d2f;
    color: black;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-left: 1%;
    font-size: large;
    margin-bottom: 1%;
    margin-top: 1%;
}

    .botao:hover {
        background-color: red;
        color:white;
       
    }

.div-campo {
    font-size: large;
    width: 95%;
    margin-left: 1%;
    margin-top: 11px;
}

.campo {
    width: 100%;
    border-style: solid;
    border-color: black;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 3px;
}

form {
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

#label-informacao {
    margin-left: 40%;
    font-size: xx-large;
    font-weight: bold;
}
