body {
    background-color: lightsalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}
 table{
     width: 95%;
     margin-left:25px;
     font-size: large;
     margin-top: 7%;
 }

 th{
     border: 2px solid black;
     background-color: white;
     color: black;
     
 }
 td{
     
     padding: 10px;
     
 }
 tr{
     background-color: wheat;
     
 }

tr:nth-child(even) {
    background-color: burlywood;
}
    tr:hover {
        background-color: tomato;
        
    }

a {
    background-color: tan;
    color: black;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

    a:hover {
        background-color: crimson;
        color:white;
    }

#botao-cadastrar {
    float:right;
    margin-right: 29px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: tan;
    color: black;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}
    #botao-cadastrar:hover {
        background-color: tomato;
    }

.div-Topo {
    background-color: bisque;
    display: flow-root;
    border-bottom: 3px solid black;
}
img {
    margin-left: 46%;
    width: 75px;
   
}
#div1 {
    float: left;
}
#div2 {
    float: right;
    margin-top:19px;
}
#div3 {
    margin-left: 38%;
    margin-top: 2%;
    float: left;
    font-size: xx-large;
    font-weight:bold;
}
