
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
    <link rel="stylesheet" href="~/Content/Escola/Cadastrar.css" />
    <link rel="icon" href="~/Resources/escolaIcone.png" />
</head>
<body>
    <div class="div-topo">
        <div id="div1">
            <img src="~/Resources/escola.png" />
        </div>
        <div id="div2">
            <label id="label-informacao" for="campo-nome">Cadastrar Escola</label>
        </div>
        <div id="div3">
            <a href="/escola/index">Lista de escolas</a>
        </div>

    </div>
    <form action="cadastrar" method="post">

        <div class="div-campo">
            <label for="campo-nome">Nome da Escola</label>
            <input class="campo" type="text" name="nome" id="campo-nome" />
        </div>

        <button class="botao" type="submit">Cadastrar</button>
    </form>

</body>
</html>
