
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <a href="/escola/index">Lista de escolas</a>
    <label for="campo-nome">Cadastrar Escola</label>
    <form action="cadastrar" method="post">

    <div> 
        <label for="campo-nome">Nome da Escola</label>
        <input type="text" name="nome" id="campo-nome" />
    </div>
    
        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>
