
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link rel="stylesheet" href="~/Content/Escola/Editar.css" />
</head>
<body>
    <label id="label-informacao" for="campo-nome">Editando</label>
    <form action="/Escola/Update" method="post">
        <div class="div-campo">
            <label for="campo-nome">Novo nome da escola</label>
            <input class="campo" type="text" name="nome" id="campo-nome" value="@ViewBag.Escola.Nome"/>
        </div>
        <button type="submit">Editar</button>
        <input type="hidden" name="id" value="@ViewBag.Escola.Id" />
    </form>

</body>
</html>
