
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Escolas</title>
    <link rel="stylesheet" href="~/Content/Escola/Index.css" />
</head>
<body>
    <a id="botao-cadastrar" href="/escola/cadastro">Cadastrar Escola</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < @ViewBag.Escola.Count; i++)
            {
                <tr>
                    <td>@ViewBag.Escola[i].Id</td>
                    <td>@ViewBag.Escola[i].Nome</td>
                    <td>
                        <a href="/escola/editar?id=@ViewBag.Escola[i].Id">Editar</a>
                        <a href="/escola/apagar?id=@ViewBag.Escola[i].Id">Apagar</a>
                    </td>

                </tr>

            }
        </tbody>

        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </tfoot>
    </table>


</body>
</html>
